/* font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif; */
*{
    margin: 0;
    padding: 0;
}

body{
    background:#fffffa;
    font-family: 'Open Sans', sans-serif;
    
}
header{
     width:100%;
    overflow:hidden;
    background: #424447;
    margin-bottom: 20px;
}

header div{
    display:block;
    float:left;
    color: white;
    font-size: 1em;
    padding: 10px;

}
.logo img{
    width: 300px;
    height: auto;
    padding-bottom: 10px;
}

.wrapper{
    width:90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    
}

header nav{
    
    float: right;
 line-height: 25px;
    
}

header nav ul li{
    display:inline-block;
 
    padding-top: 5%;
    
}
header nav ul li a{
   text-decoration: none;
   color: white;
   padding: 10px 20px;
   line-height: normal;
    font-weight: bold;

}

header nav ul li a :hover{
    background-color: rgba(16, 78, 139, 50);
    border-radius: 50px;
}

.container{
    background-color: gray;
    display: inline-block;
    height: 600px;

}
.text{
    float:left;
    max-width: 50%;
    text-align: center;
    line-height: 100%;
    padding-left: 20px;
    color: white;
}
.text > p{
line-height: normal;
}
.img1 >img{
    float:right;
    max-width: 40%;
    line-height: 600px;
    padding: 20px;
}